#beforeAfter .right{
    margin-left: 50%;
    font-weight: bold;
    color: green;
}
#beforeAfter .left{
    float: left;
    font-weight: bold;
    color: red;
}

.grid-compare .right{
    margin-left: 50%;
}
.grid-compare .left{
    float: left;
    width: 50%
}