<form name="contentForm"
      ng-controller="Approval.ApprovalHistoryController"
      ng-show="loaded"
      ng-init="setup"
      ng-submit="publish(node)"
      val-form-manager>
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h1 class="umb-headline" placeholder="@placeholders_entername" ng-bind-html="node.Name" />
            </div>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">

                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                <localize key="content_nodeName">Page Title</localize>
                            </label>
                            <div class="controls controls-row">
                                <span ng-bind-html="node.Name" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                <localize key="general_approveitupdatedBy">Updated by</localize>
                            </label>
                            <div class="controls controls-row">
                                <span>{{node.WriterName}}<br><small class="muted" ng-bind-html="node.WriterEmail" /></span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                <localize key="content_updateDate">Last edited</localize>
                            </label>
                            <div class="controls controls-row">
                                <span ng-bind-html="node.UpdateDate" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}" ng-if="node.type === 'text'">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                Changes
                            </label>
                            <div class="controls controls-row">
                                <div id="beforeAfter">
                                    <div class="left">Antes</div>
                                    <div class="right">Depois</div>
                                </div>
                            </div>
                            <div class="controls controls-row">
                                <div class="picadiff">
                                    <div class="picadiff-content">
                                        <div class="left" ng-bind-html="node.PreviousValue" />
                                        <div class="right" ng-bind-html="node.CurrentValue" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}" ng-if="node.type === 'image'">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                Changes
                            </label>
                            <div class="controls controls-row">
                                <div id="imagesBeforeAfter">
                                    <div class="left">
                                        <div>Antes</div>
                                        <img ng-src="{{node.oldImage.metaData.umbracoFile.Value.src}}" width="400" class="left">
                                    </div>
                                    <div class="right">
                                        <div>Depois</div>
                                        <img ng-src="{{node.currentImage.metaData.umbracoFile.Value.src}}" width="400" class="right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}" ng-if="node.type === 'grid'">
                        <div class="umb-el-wrap">
                            <label class="control-label" ng-hide="property.hideLabel">
                                Changes
                            </label>
                            <div class="controls controls-row">
                                <div id="beforeAfter">
                                    <div class="left">Antes</div>
                                    <div class="right">Depois</div>
                                </div>
                            </div>
                            <div class="controls controls-row">
                                <div class="grid-compare">
                                    <div class="umb-grid clearfix left">
                                        <div class="umb-grid-width">
                                            <div class="tb">

                                                <!-- for each column in model -->
                                                <div class="umb-column td"
                                                     ng-repeat="section in node.PreviousValue.sections"
                                                     ng-style="{width: section.$percentage + '%'}">

                                                    <div ui-sortable="sortableOptionsRow" ng-model="section.rows">

                                                        <!-- for each row in template section -->
                                                        <!-- ng-mouseenter="setCurrentRow(row)" -->
                                                        <!-- ng-mouseleave="disableCurrentRow()"  -->
                                                        <div class="umb-row"
                                                             ng-repeat="row in section.rows">

                                                            <div class="umb-row-title-bar">

                                                                <div class=".umb-grid-right">
                                                                    <div class="umb-row-title">{{row.name}}</div>
                                                                </div>
                                                            </div>

                                                            <!-- row container -->
                                                            <div umb-row-inner">

                                                                <div class="mainTb">
                                                                    <div class="tb">
                                                                        <div class="tr">

                                                                            <!-- Areas in row -->
                                                                            <div class="umb-cell td mainTd"
                                                                                 ng-repeat="area in row.areas"
                                                                                 ng-style="{width: area.$percentage + '%'}"
                                                                                 ng-model="area.controls">

                                                                                <!-- Cell -->
                                                                                <div class="umb-cell-content">

                                                                                    <div class="umb-cell-inner" ui-sortable="sortableOptionsCell" ng-model="area.controls">

                                                                                        <!-- for each control in areas -->
                                                                                        <div class="umb-control"
                                                                                             ng-repeat="control in area.controls">

                                                                                            <div class="umb-control-inner">

                                                                                                <div class="umb-cell-textstring" ng-bind-html="control.value" ng-if="control.value.image === undefined">
                                                                                                </div>

                                                                                                <img ng-src="{{control.value.image}}" ng-if="control.value.image !== undefined" />

                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <!-- Controls repeat end -->
                                                                                </div>

                                                                            </div>
                                                                            <!-- cells repeat end -->

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- row container end -->

                                                        </div>
                                                        <!-- row repeat -->

                                                    </div>
                                                    <!-- row sortable end -->
                                                    <!-- column tools -->
                                                    <!-- column tools end -->

                                                </div>
                                                <!-- column repeat end -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="umb-grid clearfix right">
                                        <div class="umb-grid-width">
                                            <div class="tb">

                                                <!-- for each column in model -->
                                                <div class="umb-column td"
                                                     ng-repeat="section in node.CurrentValue.sections"
                                                     ng-style="{width: section.$percentage + '%'}">

                                                    <div ui-sortable="sortableOptionsRow" ng-model="section.rows">

                                                        <!-- for each row in template section -->
                                                        <!-- ng-mouseenter="setCurrentRow(row)" -->
                                                        <!-- ng-mouseleave="disableCurrentRow()"  -->
                                                        <div class="umb-row"
                                                             ng-repeat="row in section.rows">

                                                            <div class="umb-row-title-bar">

                                                                <div class=".umb-grid-right">
                                                                    <div class="umb-row-title">{{row.name}}</div>
                                                                </div>
                                                            </div>

                                                            <!-- row container -->
                                                            <div umb-row-inner">

                                                                <div class="mainTb">
                                                                    <div class="tb">
                                                                        <div class="tr">

                                                                            <!-- Areas in row -->
                                                                            <div class="umb-cell td mainTd"
                                                                                 ng-repeat="area in row.areas"
                                                                                 ng-style="{width: area.$percentage + '%'}"
                                                                                 ng-model="area.controls">

                                                                                <!-- Cell -->
                                                                                <div class="umb-cell-content">

                                                                                    <div class="umb-cell-inner" ui-sortable="sortableOptionsCell" ng-model="area.controls">

                                                                                        <!-- for each control in areas -->
                                                                                        <div class="umb-control"
                                                                                             ng-repeat="control in area.controls">

                                                                                            <div class="umb-control-inner">

                                                                                                <div class="umb-cell-textstring" ng-bind-html="control.value" ng-if="control.value.image === undefined">
                                                                                                </div>

                                                                                                <img ng-src="{{control.value.image}}" ng-if="control.value.image !== undefined" />

                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <!-- Controls repeat end -->
                                                                                </div>

                                                                            </div>
                                                                            <!-- cells repeat end -->

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- row container end -->

                                                        </div>
                                                        <!-- row repeat -->

                                                    </div>
                                                    <!-- row sortable end -->
                                                    <!-- column tools -->
                                                    <!-- column tools end -->

                                                </div>
                                                <!-- column repeat end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">
                        <div class="controls controls-row">
                            <div class="btn" ng-click=" compare()">Compare</div>
                        </div>
                    </div>-->
                    <p>{{callUpdate()}}</p>
                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group" ng-show="node.currentImage === undefined">
                            <div class="btn" ng-click="compare()">Compare</div>
                        </div>
                        <div class="btn-group">
                            <a class="btn" ng-href="#/content/content/edit/{{node.Id}}">
                                <localize key="general_show">Show</localize>
                            </a>
                        </div>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="actions_publish">Publish</localize>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </umb-panel>
</form>




